<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5">
                <h1 class="title"> Edit Event </h1>

                <div class="box">
                    <%= render 'form', event: @event %>
                </div>
            </div>
        </div>
    </div>
</section>


