<section id="main-hero" class="hero is-halfheight"> 
    <div class="container "> 
        <h2 id="main-hero-text" class="title is-size-1"> 
        Ready. <br> Set. <br> Plan. 
        </h2>
    
    </div>
</section>

<section id="events-container" class=section>
    <div class="container">
        <h2 class="title is-3">Upcoming Events</h2>
        <div class="columns is-multiline is-variable is-5 is-mobile">
            <%= render 'upcoming', events: @events %>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="title is-3">Past Events</h2>
        <div class="columns is-multiline is-variable is-5 is-mobile">
            <%= render 'past', events: @events %>
        </div>
    </div>
</section>

