/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



$navbar-breakpoint: 0;
@import "bulma";


.notification:not(:last-child){
    margin-bottom: 0px;
}

body,html{
    background: #f8f8f8;
}

nav{
    padding: 10px;
}

// todo: write media queries for this, look at eventbrite
#main-hero{
    background-image: url(main-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center !important;
    justify-content: center !important;
}

// todo: center main hero text vertically. Flex the container?
#main-hero-text{
    color: #fff;
    font-size: 4rem !important;
}

// event cards 
.card{
    border-radius: 10px !important;
}

#events-container .column{
    margin-bottom: .75rem;
}

// height for events card content
#events-container .column .card-content{
    min-height: 150px;
}

#events-container .column .card-content .content p{
    margin-bottom: 5px;
}

#events-container .column .card{
    height: 100%;
}

// Show
.show-header{
    background-color: white;
    padding: 20px 20px !important;
    border-top: 1px solid rgba(46,62,72,.12);
    border-bottom: 1px solid rgba(46,62,72,.12);

}

.event-description{
    max-width: 70%;
}

.event-description p{
    white-space: pre-line !important;
    font-size: 18px;
}

.attend-btn{
    width: 100%;
}

@media(max-width: 767px){
    .reverse-columns{
        flex-direction: column-reverse;
        display: flex;
    }
}